# Dependencies
node_modules/

# Next.js
.next/
out/
.open-next/

# Env
.env
.env*.local
.dev.vars

# Debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# TypeScript
*.tsbuildinfo

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE
.idea/
.vscode/

# Uploads (local dev)
public/uploads/

# Cloudflare / Wrangler
.wrangler/
